{
    # Глобальные настройки Cloudflare
    email 21school.edu@gmail.com #Encrypt
    acme_dns cloudflare VO5YRJzh-4v1lnQB-N_S-vWxrIAGaq7KVpVmSQc_
}

# Глобальный редирект HTTP -> HTTPS
:80 {
    redir https://{host}{uri} permanent
}

# Основной домен (HTTPS)
emmonsha.online {
    # Фронтенд статика (React)
   root * /usr/share/caddy/frontend
   file_server
   try_files {path} /index.html

#   handle / {
#        reverse_proxy frontend:3000 {
#            header_up Host {host}
#            header_up X-Real-IP {remote}
#        }
#    }

    # Бэкенд (Go API)
#    handle /api/* {
#        reverse_proxy backend:8000 {
#            header_up Host {host}
#            header_up X-Forwarded-Proto {scheme}
#        }
#    }

    # VPN (Xray) - отдельный путь
#    handle /vpn/* {
#        reverse_proxy vpn:10000 {
#            transport http {
#                tls_insecure_skip_verify
#            }
#        }
#    }

    # Настройки TLS через Cloudflare
    tls {
        dns cloudflare VO5YRJzh-4v1lnQB-N_S-vWxrIAGaq7KVpVmSQc_
        protocols tls1.2 tls1.3
#        ciphers TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
    }
}
